body{
    background-color: #f8fafc;
    color: #333333;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 50px;
    box-shadow:0 2px 8px rgba(0,0,0,0.1);
}

header div{
    display:flex;
    gap:15px;
}

h1{
    color: #2563eb;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin: 30px;
}

p{
    color: #555555;
    font-size: 16px;
    margin:20px;
}

button{
    color: rgb(8, 151, 56);
    padding: 15px;
    border:2px solid #2563eb;
    border-radius:8px;
}

nav{

    display: flex;

    justify-content:space-evenly;

    gap:20px;

    align-items:center;

 padding-top:20px;

padding-bottom:20px;

padding-left:20px;

padding-right:20px;

  margin-top:20px;

margin-bottom:20px;

margin-left:20px;

margin-right:20px;
}